<center>
    <form class="form-signin align-content-center" style="width:300px">
        <h5 class="mb-3 font-weight-bold mt-5">sign in</h5>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="email" id="inputEmail" class="form-control mt-3" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required>
        <button class="btn btn-sm btn-primary btn-block mt-3" type="submit">Sign in</button>
    </form>
</center>