<center>
    <form class="form-signin align-content-center" style="width:300px">
        <h5 class="mb-3 font-weight-bold mt-5">sign in</h5>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control mt-3" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required>
        <input type="button" class="btn btn-sm btn-primary btn-block mt-3" value="Sign in" onclick="signIn()"/>
    </form>
</center>

@section scripts{
<script>
    function signIn() {

        var ObjectMaster = {
            username: "admin",
            password: "1234"
        }

        var sign_in_xhr = $.ajax({
            type: "POST",
            url: "https://localhost:44386/Api/Auth",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(ObjectMaster)
        });

        $.when(sign_in_xhr).then(function (resp) {
            console.log(resp);

            var url = window.location.href
            var arr = url.split("/");
            var domain = arr[0] + "//" + arr[2]

            window.location = domain + "/" + "home";
        }, function (err) {
            // error handler
            console.log(err);
        });
    }        
</script>
}